#projects {
  p {
    margin-bottom: 0;
    color: #212121;
  }

  h4 {
    font-family: "bebasregular";
    margin-top: 0;
    word-spacing: 8px;
    color: #444;
  }

  .card-title {
    margin-top: 0;
    color: #444;
  }

  .btn {
    background: rgba(50, 50, 50, 1);
  }
}
