.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $small-screen: em(400) !default;
  $hero-background-top: white;
  $hero-background-bottom: white;
  $hero-color: white;
  $gradient-angle: 10deg;
  /* $hero-image: 'http://s2.postimg.org/69lgw0hmh/chatto_Hub2.jpg'; */

  /* @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll); */
  background-color: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: black;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      /* background: rgba(51, 51, 51, .7); */
      /* background-image: image-url('terminal'); */
      /* box-shadow: 2px 2px 5px #333; */
      font-family: 'arsenal';

      @include media($small-screen) {
        margin: 0 3em;
      }

      @include media($large-screen) {
        margin: 0 8;
      }

      h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
        color: black;
        font-family: 'bebasregular';

        @include media($large-screen) {
          font-size: 2.2em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

