<h1>Projects</h1>

<ul>
  <%- @projects.each do |proj| %>
    <li>
      <%= proj.name %> - <%= proj.description %>
      <%= link_to 'Join Project', project_memberships_path(proj), method: :post %>
    </li>
  <% end %>
</ul>

