
<div id="projects">
  <div class="title">Projects</div>
  <ul>
    <%- @projects.each do |proj| %>
      <li>
        <div class="row">
          <div class="large-8 columns">
            <span class="name"><%= proj.name %></span>
            <p class="description"><%= proj.description %></p>
          </div>

          <div class="large-4 columns">
            <%= link_to 'View on Github', proj.github_url, class: 'button tiny' %>
            <%= link_to 'Join discussion on Slack', project_slack_invitations_path(proj), method: :post, class: 'button tiny' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
