<%= content_for :hero do %>
  <div class="hero">
   <div class="hero-inner">
      <div class="hero-copy">
        <h1>Collaborate on clinical data mining projects</h1>
      </div>
    </div>
  </div>
<% end %>

<div class="getting-started">
  <hr />
  <h3 class="text-center">Getting Started</h3>
  <hr />

  <article>
    <section>
      <h4 id="scroll-link-1">Overview</h4>
      <p>
        Chatto is a suite of tools designed for the modern Data Scientist.  The goal of Chatto is to allow you
        and your team to get up and running as fast as possible, easily communicate with each other, and do what
        you do best: discover insights and make the world a better place.
      </p>
    </section>

    <section>
      <h4 id="scroll-link-2">Slack</h4>
      <p>
        After signing into Chatto for the first time, you should receive an email invitation to join the Critical Data team on Slack.
        Please accept that invitation and set up a Slack account if you don't already have one.  When a new project
        is created, a Slack channel will automatically be created with the same project name.  Use this channel to
        communicate with your team, share links, and stay up to date with Datathon news.
      </p>
    </section>

    <section>
      <h4 id="scroll-link-3">Github Repository</h4>
      <p>
        When creating a project on Chatto, a Github repository will automatically be created for you on the Critical
        Data Github organization.  The repository will contain a templated file structure and useful tools for
        transforming the data.  If you want your teammates to be able to push to the repository make sure to add them
        as <a href="https://help.github.com/articles/adding-collaborators-to-a-personal-repository/">collaborators</a>.
      </p>
    </section>

    <section>
      <h4 id="scroll-link-4">Chatto Transform</h4>
      <p>
        Chatto Transform is an open source library for connecting to data sources and transforming data. It focuses on
        connecting the user to the data with as little fuss as possible, and providing ways to collaboratively build up
        dataset-specific transformations over time.  <a href="https://github.com/smartscheduling/chatto-transform-open-source#installation">Installation instructions for Chatto Transform can be found here.</a>
      </p>
    </section>

    <section>
      <h4 id="scroll-link-5">Mimic Dataset</h4>
      <p>
        To use the MIMIC database you need to have permission and a username/password.
      </p>
    </section>

    <section>
      <h4 id="scroll-link-6">Feedback</h4>
      <p>
        We designed Chatto in order to make the Critical Datathon a more enjoyable and productive experience.  We'd
        love to hear feedback from people on ways to improve it.  Whether it be a bug or a feature request please shoot
        us an email to <code> dev@smartscheduling.io</code> and let us know what you think.  Enjoy the Datathon!
      </p>
    </section>
  </article>
</div>

