<%= content_for :hero do %>
  <div class="hero">
   <div class="hero-inner">
      <div class="hero-copy">
        <h1>MIMIC PROJECTS</h1>
        <p>Collaborate on clinical data mining projects</p>
        <%= link_to 'Explore Projects', projects_path, class: 'button tiny cta' %>
        <%= link_to 'New Project', new_project_path, class: 'button tiny cta' %>
      </div>
    </div>
  </div>
<% end %>
