#projects {
  font-family: 'Ubuntu Mono';
  div.title {
    font-size: 35px;
    margin-left: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  p.description {
    margin-bottom: 0;
    color: #8d8d8d;
  }

  h4 {
    font-family: "bebasregular";
    word-spacing: 8px;
  }

  .button {
    margin-left: .5em;
    margin-top: 1.5em;
  }

  ul {
    li {
      list-style-type: none;
      margin: 0;
      padding: 15px;
      margin-bottom: 15px;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px 0px;
      border: 1px solid #eeeeee;
    }
  }
}
