#projects {
  font-family: 'Ubuntu Mono';
  div.title {
    font-size: 35px;
    margin-left: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  p.description {
    margin-bottom: 0;
  }
  h4 {
    font-family: "bebasregular";
    word-spacing: 8px;
  }

  .button {
    margin-left: .5em;
    margin-top: 1.5em;
  }

  ul {
    li {
      list-style-type: none;
      margin: 0;
      padding: 15px;
      margin-bottom: 15px;
      border: 1px solid #eeeeee;
      border-radius: 5px;
    }
  }
}
