nav {
  background-color: $header-button-color;
}

nav ul li a{
  color: white;
  font-weight: 300;
}

.brand-logo {
  font-family: "langdon";
}

.modal p {
  color: #8d8d8d;
}

#search {
  margin-bottom: 0;
}

#q_search {
  margin-bottom: 0;
}

