/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 */

@font-face {
  font-family: "arsenal";
  src: font-url('Arsenal-Regular.otf') unqote("format('opentype')");
  src: font-url('Arsenal-Bold.otf') unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'bebasregular';
    src: font-url('BEBAS___-webfont.eot');
    src: font-url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('BEBAS___-webfont.woff') format('woff'),
         font-url('BEBAS___-webfont.ttf') format('truetype'),
         font-url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'langdon';
  src: font-url('Langdon.otf');
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

// Materialize Framework
@import "materialize/components/color";
$secondary-color: color("blue", "darken-1") !default;
@import 'materialize';

// Custom scss
@import 'colors';
@import 'globals';
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import 'pages/home_page';
@import 'pages/projects';
@import 'components/nav';

nav ul li#nav-image:hover, nav ul li#nav-image.active {
  background: none;
}


