.error-messages {
  border: 2px solid #e74c3c;
}

.error-messages ul li {
  margin-left: 20px;
}

.error-messages ul {
  margin-bottom: 0;
}

p {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "bebasregular";
  word-spacing: 6px;
  color: rgba(50,50,50,1);
}

body {
  background: #eee;
}

.btn {
  background: rgba(50, 50, 50, 1);
  &:hover {
    background: rgba(50, 50, 50, 1);
  }
}
