.error-messages {
  border: 2px solid #e74c3c;
}

.error-messages ul li {
  margin-left: 20px;
}

.error-messages ul {
  margin-bottom: 0;
}

p {
  font-weight: 300;
  color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "langdon";
  color: $header-button-color;
}

body {
  background: #eee;
}

.btn {
  background: $header-button-color;
  &:hover {
    background: $header-button-color;
  }
}

.page-title {
  margin-top: 25px;
  margin-bottom: 25px;
}

div.row {
  margin-bottom: 10px;
}


@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 10%;
  }
}

/* fix this to not use ID's */
ul#nav-mobile li a, ul#right-nav li a {
  font-weight: bold;
}

