.getting-started {
  h1, h2, h3, h4 {
    font-family: "bebasregular";
    word-spacing: 8px;
    margin-top: 1.3em;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    color: #8d8d8d;
  }
}
